*{
  padding: 0;
  margin: 0;
}

body, html{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #1b1b23;
  overflow-x: hidden;
}

.calculator{
  margin-top:100px;
  height: auto;
  width:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.7s;
  padding-top: 12px;
  padding-bottom: 12px;
}

.calculator:hover{
  background-color: #389096b7;
  display: flex;
  transition: 1.7s;
  border-radius: 200px;
}

.calculator-info{
  background-color: transparent;
  transition: 1.7s;
  margin-top: -260px;
  text-align: right;
  font-size: 25px;
  font-family: fantasy, sans-serif;
  transform: translateX(400px);
}

.calculator:hover + .calculator-info{
  transform: translateX(-15px);
  color: white;
  top: 0;
  width: auto;
  background-color: transparent;
  transition: 1.7s;
}

.contact-info{
  margin-top: 500px;
  width: 100%;
}