*{
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  border: 0;
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  background-color: white; /* Inherits from outer container */
  border-radius: 5px;
}

body, html{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  overflow-x: hidden;
  
}
body{
  background-color: #1b1b23;
  background-image: linear-gradient(to right, rgba(101,0,94,0.01),rgba(60,132,206,0.01),rgba(255,25,25,0.01));
}

.calculator{
  margin-top:100px;
  height: auto;
  width:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.7s;
  padding-top: 12px;
  padding-bottom: 12px;
}

.calculator:hover{
  background-color: rgba(48,238,226,0.3);
  display: flex;
  transition: 1.7s;
  border-radius: 120px;
}

.calculator-info{
  background-color: transparent;
  transition: 1.7s;
  margin-top: -260px;
  text-align: right;
  font-size: 25px;
  font-family: fantasy, sans-serif;
  transform: translateX(400px);
}

.calculator:hover + .calculator-info{
  transform: translateX(-15px);
  color: white;
  top: 0;
  width: auto;
  background-color: transparent;
  transition: 1.7s;
}

.contact-info{
  margin-top: 200px;
  width: 100%;
}