.banner{
  width: 100%;
  background-color: #00c9b8;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position:fixed;
  top:0;
  z-index: 1;
  transition: 0.7s;
  color: #1b1b23;
}

h1,p {
  user-select: none;
}

.banner:hover{
  background-color: rgba(0, 255, 255, 0.411);
  color: white;
  transition: 0.7s;
}