.banner{
  width: 100%;
  background-color: #00c9b8;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position:fixed;
  top:0;
  z-index: 1;
  transition: 0.7s;
  color: #1b1b23;
}

h1,p {
  user-select: none;
}

.banner:hover{
  background-color: rgba(0, 255, 234, 0.459);
  color: black;
  transition: 0.7s;
}

.contact{
  width: 100%;
  top: 10px;
  position: fixed;
  background-color:transparent;
  display: flex;
  justify-content: right; 
  margin-right: 25px;
}

.contact-button{
  background-color: #00c9b8;
  padding: 5px;
  color: #1b1b23;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  transition: 0.7s;
}

.contact-button:hover{
  background-color: rgba(0, 255, 255, 0.781);
  transition: 0.7s;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
}