.button-container{
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  background-color: #4040b6;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  flex: 1 1;
  transition: background-color 0.2s ease-in-out;
}

.button-container-operator{
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  background-color: #0e7c00;
  color: white;
  flex: 1 1;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
}

.button-container:hover{
  background-color: #1b1b23;
  transition: background-color 0.2s ease-in-out;
}

.button-container-operator:hover{
  background-color: #003311;
  transition: background-color 0.2s ease-in-out;
}